@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: hsl(331, 69%, 90%);
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

main {
    background-color: hsl(0, 0%, 100%);
    max-width: 35rem;
    padding: 1rem;
    border-radius: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

li {
    margin: 0.6rem;
}

h1 {
    font-family: "Young Serif";
}

h2 {
    font-family: "Young Serif";
    color: hsl(14, 45%, 36%);
}

h3 {
    padding-left: 1rem;
    color: hsl(330, 85%, 43%);
}

.preptime {
    background-color:hsl(330, 100%, 98%);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.Ingredients {
    padding-left: 1rem;
}

.Instructions {
    padding-left: 1rem;
}

li::marker {
    color: hsl(14, 45%, 36%);
}

table {
    width: 100%;

}

td {
    border-bottom: 1px solid rgb(212, 212, 212);
}

tr {
    height: 2.5rem;
}

.stats {
    color: hsl(14, 45%, 36%);
}

@media (max-width: 600px) {

    body {
      padding: 0;
      background-color: white;
    }

    img {
      border-radius: 0;
    }

    main {
        width: 100%;
        padding: 0;
        border-radius: 0;
        margin-top: 0;
    }
    
    .information {
      padding: 1.5rem;
    }
}


.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }